.before {
    position: relative;
}

.before:after {
    content: "";
    background-color: var(--primary);
    position: absolute;
    width: 2px;
    height: 100%;
    top: 10px;
    right: 0;
    display: block;
}

.current {
    background-color: #e6ffed;
}

.previous {
    background-color: #ffeef0;
}

